
__pycache__/

fake_sensor_config\.py

provision_config\.py

redlght_greenlight/redlight_greenlight_config\.py

telemetry_manager/telemetry_manager_config\.py

firmware/b\.bat

firmware/configurator_config\.py

management/deq\.log

management/config\.py

firmware/config\.py

*.pyc

firmware/\.vscode/

management/test_*\.pdf

firmware/tempCodeRunnerFile\.python
management/.vscode/settings.json
.code-workspace.code-workspace
management/label_*\.pdf
management/form_*\.pdf
management/update_address.py
management/xxxvenv
